<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Monitoring"
            id="MonitorTool">
      </category>
      <view
            name="Event Bus Locations"
            icon="icons/sample.gif"
            category="MonitorTool"
            class="net.sf.ictalive.monitortool.views.EventBusLocationView"
            id="monitortool.views.EventBusLocationView">
      </view>
       <view
            allowMultiple="true"
            name="Jung View"
            icon="icons/sample.gif"
            category="MonitorTool"
            class="net.sf.ictalive.monitortool.views.JungView"
            id="monitortool.views.JungView"            
           >
      </view>     
      <view
            allowMultiple="true"
            category="MonitorTool"
            class="net.sf.ictalive.monitortool.views.EventView"
            icon="icons/sample.gif"
            id="monitortool.views.EventView"
            name="Event View"
            restorable="false">
      </view>
      <view
            category="MonitorTool"
            class="net.sf.ictalive.monitortool.views.EventList"
            icon="icons/sample.gif"
            id="monitortool.views.EventList"
            name="Event List">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.ictalive.monitortool.perspectives.RelEngPerspective"
            icon="icons/releng_gears.gif"
            id="monitortool.perspectives.RelEngPerspective"
            name="Monitoring">
      </perspective>
   </extension>
   <extension
         id="net.sf.ictalive.monitortool.dashboard"
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.monitortool.dashboard.MonitorPerspectiveAction">
      </client>
   </extension>

</plugin>
