<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="plans_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="plans_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/TasksDiagramFile.gif"
         extensions="plans_diagram"
         default="true"
         class="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditor"
         matchingStrategy="net.sf.ictalive.coordination.plans.diagram.part.CoordinationMatchingStrategy"
         contributorClass="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="net.sf.ictalive.coordination.plans.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/TasksDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="net.sf.ictalive.coordination.plans.diagram.part.CoordinationCreationWizard"
  	     id="net.sf.ictalive.coordination.plans.diagram.part.CoordinationCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="net.sf.ictalive.coordination.plans.diagram.InitDiagram"
            nameFilter="*.plans"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="net.sf.ictalive.coordination.plans.diagram.part.CoordinationInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="net.sf.ictalive.coordination.plans.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="PlansPresentation">
         <Priority name="Lowest"/>
         <ViewId id="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="PlansPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="PlansRender">
         <Priority name="Lowest"/>
         <ViewId id="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="net.sf.ictalive.coordination.plans.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="../plugin/net.sf.ictalive.coordination.diagram.general"
            name="%prefpage.../plugin/net.sf.ictalive.coordination.diagram.general"
            class="net.sf.ictalive.coordination.plans.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="../plugin/net.sf.ictalive.coordination.diagram.appearance"
            name="%prefpage.../plugin/net.sf.ictalive.coordination.diagram.appearance"
            category="../plugin/net.sf.ictalive.coordination.diagram.general"
            class="net.sf.ictalive.coordination.plans.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="../plugin/net.sf.ictalive.coordination.diagram.connections"
            name="%prefpage.../plugin/net.sf.ictalive.coordination.diagram.connections"
            category="../plugin/net.sf.ictalive.coordination.diagram.general"
            class="net.sf.ictalive.coordination.plans.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="../plugin/net.sf.ictalive.coordination.diagram.printing"
            name="%prefpage.../plugin/net.sf.ictalive.coordination.diagram.printing"
            category="../plugin/net.sf.ictalive.coordination.diagram.general"
            class="net.sf.ictalive.coordination.plans.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="../plugin/net.sf.ictalive.coordination.diagram.rulersAndGrid"
            name="%prefpage.../plugin/net.sf.ictalive.coordination.diagram.rulersAndGrid"
            category="../plugin/net.sf.ictalive.coordination.diagram.general"
            class="net.sf.ictalive.coordination.plans.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="net.sf.ictalive.coordination.plans.diagram"
            labelProvider="net.sf.ictalive.coordination.plans.diagram.sheet.CoordinationSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="net.sf.ictalive.coordination.plans.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="net.sf.ictalive.coordination.plans.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="net.sf.ictalive.coordination.plans.diagram.sheet.CoordinationPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="net.sf.ictalive.coordination.plans.diagram.providers.CoordinationViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Plans"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2009,2010,2011,2012,2013,2014,2015,3003,3004"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4006,4007,4008,4009,4010"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="net.sf.ictalive.coordination.plans.diagram.providers.CoordinationEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Plans"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2009,2010,2011,2012,2013,2014,2015,3003,3004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4006,4007,4008,4009,4010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5007,5009,5010,5011,5012,5008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7003,7004"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="net.sf.ictalive.coordination.plans.diagram.providers.CoordinationModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="net.sf.ictalive.coordination.plans.diagram.edit.parts.PlansCollectionEditPart" id="PlansCollection_1000"/>
         <object class="net.sf.ictalive.coordination.plans.diagram.edit.parts.PlanEditPart" id="Plan_2009"/>
         <object class="net.sf.ictalive.coordination.plans.diagram.edit.parts.TaskEditPart" id="Task_2010"/>
         <object class="net.sf.ictalive.coordination.plans.diagram.edit.parts.ActionGroundingListEditPart" id="ActionGroundingList_2011"/>
         <object class="net.sf.ictalive.coordination.plans.diagram.edit.parts.AtomicActionEditPart" id="AtomicAction_2012"/>
         <object class="net.sf.ictalive.coordination.plans.diagram.edit.parts.CompositeActionEditPart" id="CompositeAction_2013"/>
         <object class="net.sf.ictalive.coordination.plans.diagram.edit.parts.InputEditPart" id="Input_2014"/>
         <object class="net.sf.ictalive.coordination.plans.diagram.edit.parts.OutputEditPart" id="Output_2015"/>
         <context elements="PlansCollection_1000,Plan_2009,Task_2010,ActionGroundingList_2011,AtomicAction_2012,CompositeAction_2013,Input_2014,Output_2015"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="net.sf.ictalive.coordination.plans.diagram.providers.CoordinationIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="net.sf.ictalive.coordination.plans.diagram.providers.CoordinationParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.PlansCollection_1000"
               name="%metatype.name.PlansCollection_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PlansCollection"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.PlansCollectionEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.Plan_2009"
               name="%metatype.name.Plan_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Plan"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.PlanEditHelper">
            <param name="semanticHint" value="2009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.Task_2010"
               name="%metatype.name.Task_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Task"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.TaskEditHelper">
            <param name="semanticHint" value="2010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.ActionGroundingList_2011"
               name="%metatype.name.ActionGroundingList_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActionGroundingList"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.ActionGroundingListEditHelper">
            <param name="semanticHint" value="2011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/actions">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.AtomicAction_2012"
               name="%metatype.name.AtomicAction_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AtomicAction"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.AtomicActionEditHelper">
            <param name="semanticHint" value="2012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/actions">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.CompositeAction_2013"
               name="%metatype.name.CompositeAction_2013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompositeAction"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.CompositeActionEditHelper">
            <param name="semanticHint" value="2013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/owls/process">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.Input_2014"
               name="%metatype.name.Input_2014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Input"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.InputEditHelper">
            <param name="semanticHint" value="2014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/owls/process">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.Output_2015"
               name="%metatype.name.Output_2015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Output"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.OutputEditHelper">
            <param name="semanticHint" value="2015"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.ActionGrounding_3003"
               name="%metatype.name.ActionGrounding_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActionGrounding"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.ActionGroundingEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <metamodelType
               id="net.sf.ictalive.coordination.plans.diagram.InputMessageMap_3004"
               name="%metatype.name.InputMessageMap_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputMessageMap"
               edithelper="net.sf.ictalive.coordination.plans.diagram.edit.helpers.InputMessageMapEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <specializationType
               id="net.sf.ictalive.coordination.plans.diagram.ActionGroundingListRest_4006"
               name="%metatype.name.ActionGroundingListRest_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <specializationType
               id="net.sf.ictalive.coordination.plans.diagram.InputMessageMapParameter_4007"
               name="%metatype.name.InputMessageMapParameter_4007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <specializationType
               id="net.sf.ictalive.coordination.plans.diagram.ActionGroundingOwlsProcess_4008"
               name="%metatype.name.ActionGroundingOwlsProcess_4008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <specializationType
               id="net.sf.ictalive.coordination.plans.diagram.PlanForTask_4009"
               name="%metatype.name.PlanForTask_4009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4009"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://ict-alive.sourceforge.net/coordination/tasks">
         <specializationType
               id="net.sf.ictalive.coordination.plans.diagram.PlanHasAtomicProcessGroundingList_4010"
               name="%metatype.name.PlanHasAtomicProcessGroundingList_4010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4010"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="net.sf.ictalive.coordination.plans.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="net.sf.ictalive.coordination.plans.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="net.sf.ictalive.coordination.plans.diagram.TypeContext">
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.PlansCollection_1000"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.Plan_2009"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.Task_2010"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.ActionGroundingList_2011"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.AtomicAction_2012"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.CompositeAction_2013"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.Input_2014"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.Output_2015"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.ActionGrounding_3003"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.InputMessageMap_3004"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.ActionGroundingListRest_4006"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.InputMessageMapParameter_4007"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.ActionGroundingOwlsProcess_4008"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.PlanForTask_4009"/>
         <elementType ref="net.sf.ictalive.coordination.plans.diagram.PlanHasAtomicProcessGroundingList_4010"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="net.sf.ictalive.coordination.plans.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="net.sf.ictalive.coordination.plans.diagram"
           properties="isURIEditorInput"
           class="net.sf.ictalive.coordination.plans.diagram.part.CoordinationUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="net.sf.ictalive.coordination.plans.diagram.resourceContent"/>
			<contentExtension pattern="net.sf.ictalive.coordination.plans.diagram.domainResourceContent"/>
            <contentExtension pattern="net.sf.ictalive.coordination.plans.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="net.sf.ictalive.coordination.plans.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="net.sf.ictalive.coordination.plans.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationNavigatorContentProvider" 
            labelProvider="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationNavigatorLabelProvider"
            icon="icons/obj16/TasksDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="plans_diagram"/>
               </and>
               <instanceof value="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="net.sf.ictalive.coordination.plans.diagram.navigatorSorter" 
               class="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="plans_diagram"/>
                  </and>
                  <instanceof value="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="net.sf.ictalive.coordination.plans.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationDomainNavigatorContentProvider" 
            labelProvider="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationDomainNavigatorLabelProvider"
            icon="icons/obj16/TasksDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="plans"/>
               </and>
               <instanceof value="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="net.sf.ictalive.coordination.plans.diagram.navigatorActionProvider"
            class="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="net.sf.ictalive.coordination.plans.diagram.navigatorLinkHelper"
            class="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="net.sf.ictalive.coordination.plans.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="net.sf.ictalive.coordination.plans.diagram.navigator.CoordinationAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramUpdateCommand"
         description="%update.diagram.description"
         id="net.sf.ictalive.coordination.plans.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="net.sf.ictalive.coordination.plans.diagram.updateDiagram"
         contextId="net.sf.ictalive.coordination.plans.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="net.sf.ictalive.coordination.plans.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="net.sf.ictalive.coordination.plans.diagram.edit.parts.PlansCollectionEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
         <command commandId="net.sf.ictalive.coordination.plans.diagram.CreateShortcutAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="net.sf.ictalive.coordination.plans.diagram.edit.parts.PlansCollectionEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="net.sf.ictalive.coordination.plans.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID"
         defaultHandler="net.sf.ictalive.coordination.plans.diagram.part.LoadResourceAction"/>
      <command id="net.sf.ictalive.coordination.plans.diagram.CreateShortcutAction"
         name="Create Shortcut..."
         categoryId="net.sf.ictalive.coordination.plans.diagram.part.CoordinationDiagramEditorID"
         defaultHandler="net.sf.ictalive.coordination.plans.diagram.part.CreateShortcutAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
