<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.service.template.ui.dashboard.AdaptServiceTemplateDashboardAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.service.template.ui.dashboard.RefineServiceWithTemplateAction">
      </client>
   </extension>

   </plugin>
