<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Plan Synthesis Action Set"
            visible="true"
            id="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.actionSet">
         <menu
               id="aliveMenu"
               label="ALIVE"
               path="additions">
            <separator
                  name="aliveGroup">
            </separator>
         </menu>
         <action
               class="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.actions.InvokePlanSynthesisComponentAction"
               icon="icons/sample.gif"
               id="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.actions.InvokePlanSynthesisComponentAction"
               label="&amp;Invoke Plan Synthesis"
               menubarPath="aliveMenu/aliveGroup"
               toolbarPath="Normal/Sample"
               tooltip="Invoke ALIVE Plan Synthesis">
         </action>
      </actionSet>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="net.sf.ictalive.coordination.CategoryID"
            class="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.wizards.InvokePlanSynthesisComponentWizard"
            icon="icons/plan.gif"
            id="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.wizard1"
            name="Invoke Plan Synthesis">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.sf.ictalive.coordination.category"
            name="ALIVE Coordination">
      </category>
      <command
            categoryId="net.sf.ictalive.coordination.category"
            id="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.invokeplansynthesiscommand"
            name="Invoke Plan Synthesis Component">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.handlers.InvokePlanSynthesisComponentHandler"
            commandId="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.invokeplansynthesiscommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.invokeplansynthesiscommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               id="net.sf.ictalive.coordination.menu"
               label="oordination"
               mnemonic="C">
            <separator
                  name="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.invokeplansynthesiscommand"
                  icon="icons/plan.gif"
                  id="net.sf.ictalive.coordination.menu.plansynthesis.eclipseplugin.invokeplansynthesiscomponentcommand"
                  mnemonic="I">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.sf.ictalive.coordination.toolbar">
            <command
                  commandId="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.invokeplansynthesiscommand"
                  icon="icons/plan.gif"
                  id="net.sf.ictalive.coordination.toolbar.plansynthesis.eclipseplugin.command"
                  tooltip="Invoke plan synthesis">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.dashboard"
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.plansynthesis.eclipseplugin.dashboard.InvokePlanSynthesisDashboardAction">
      </client>
   </extension>

</plugin>
