<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.ictalive.coordination.CategoryID"
            name="%_UI_Alive_Coordination_wizard_category"/>
      <wizard
            id="net.sf.ictalive.coordination.tasks.presentation.TasksModelWizardID"
            name="%_UI_TasksModelWizard_label"
            class="net.sf.ictalive.coordination.tasks.presentation.TasksModelWizard"
            category="net.sf.ictalive.coordination.CategoryID"
            icon="icons/full/obj16/TasksModelFile.gif">
         <description>%_UI_TasksModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            category="net.sf.ictalive.coordination.CategoryID"
            class="net.sf.ictalive.coordination.actions.presentation.ActionsModelWizard"
            icon="icons/full/obj16/ActionsModelFile.gif"
            id="net.sf.ictalive.coordination.actions.presentation.ActionsModelWizardID"
            name="%_UI_ActionsModelWizard_label">
         <description>
            %_UI_ActionsModelWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="net.sf.ictalive.coordination.CategoryID"
            class="net.sf.ictalive.coordination.tasks.presentation.PlansModelWizard"
            icon="icons/full/obj16/TasksModelFile.gif"
            id="net.sf.ictalive.coordination.plans.presentation.PlansModelWizardID"
            name="%_UI_PlansModelWizard_label">
         <description>
            %_UI_TasksModelWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="net.sf.ictalive.coordination.CategoryID"
            class="net.sf.ictalive.coordination.agents.presentation.AgentsModelWizard"
            icon="icons/full/obj16/AgentsModelFile.gif"
            id="net.sf.ictalive.coordination.agents.presentation.AgentsModelWizardID"
            name="%_UI_AgentsModelWizard_label">
         <description>
            %_UI_AgentsModelWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>



   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.ictalive.coordination.agents.presentation.AgentsEditorID"
            name="%_UI_AgentsEditor_label"
            icon="icons/full/obj16/AgentsModelFile.gif"
            extensions="mas"
            class="net.sf.ictalive.coordination.agents.presentation.AgentsEditor"
            contributorClass="net.sf.ictalive.coordination.agents.presentation.AgentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.ictalive.coordination.actions.presentation.ActionsEditorID"
            name="%_UI_ActionsEditor_label"
            icon="icons/full/obj16/ActionsModelFile.gif"
            extensions="actions"
            class="net.sf.ictalive.coordination.actions.presentation.ActionsEditor"
            contributorClass="net.sf.ictalive.coordination.actions.presentation.ActionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.ictalive.coordination.tasks.presentation.TasksEditorID"
            name="%_UI_TasksEditor_label"
            icon="icons/full/obj16/TasksModelFile.gif"
            extensions="tasks"
            class="net.sf.ictalive.coordination.tasks.presentation.TasksEditor"
            contributorClass="net.sf.ictalive.coordination.tasks.presentation.TasksActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.ictalive.coordination.tasks.presentation.PlansEditor"
            contributorClass="net.sf.ictalive.coordination.tasks.presentation.PlansActionBarContributor"
            extensions="plans"
            icon="icons/full/obj16/TasksModelFile.gif"
            id="net.sf.ictalive.coordination.tasks.presentation.PlansEditorID"
            name="%_UI_PlansEditor_label">
      </editor>
   </extension>
   <extension
         id="net.sf.ictalive.coordination.dashboard.actions.create"
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.dashboard.CreateActionDashboardAction">
      </client>
   </extension>
   <extension
         id="net.sf.ictalive.coordination.dashboard.agents.create"
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.dashboard.CreateMasDashboardAction">
      </client>
   </extension>
   <extension
         id="net.sf.ictalive.coordination.dashboard.plans.create"
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.dashboard.CreatePlanDashboardAction">
      </client>
   </extension>
   <extension
         id="net.sf.ictalive.coordination.dashboard.tasks.create"
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.dashboard.CreateTaskDashboardAction">
      </client>
   </extension>

</plugin>
