*.class

# Package Files #
#*.jar
*.war
*.ear

bin
*/bin
bin/*
*/bin/*

.metadata
*/.metadata
.metadata/*
*/.metadata/*

build
*/build
build/*
*/build/*

dist
*/dist
dist/*
*/dist/*
/ExampleWebApplication/nbproject/private/