.DS_Store
.swp
.DS_Store
*.class

# Package Files #
#*.jar
*.war
*.ear

bin
*/bin
bin/*
*/bin/*

.metadata
*/.metadata
.metadata/*
*/.metadata/*

build
*/build
build/*
*/build/*

dist
*/dist
dist/*
*/dist/*
/ExampleWebApplication/nbproject/private/
/AliveMatchmaker2/nbproject/private/
/ExampleMatchmaker/nbproject/private/
*.swp
/WebApplication1/nbproject/private/
/MatchmakerWS/nbproject/private/
/Matchmaker/nbproject/private/