<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xmi"
            id="net.sf.ictalive.SL2Code.ui.popupMenus.contribution.IFile">
         <menu
               icon="icons/transformation.gif"
               id="net.sf.ictalive.transformations.menu"
               label="&amp;Transformation"
               path="additions">
               <groupMarker name="group1"/> 
         </menu>
         <action
               class="net.sf.ictalive.SL2Code.ui.popupMenus.AcceleoGenerateSL2CodeAction"
               enablesFor="1"
               icon="icons/default.gif"
               id="net.sf.ictalive.SL2Code.ui.popupMenus.acceleoGenerateSL2CodeAction"
               label="Generate SL to WSDL and OWLS"
               menubarPath="net.sf.ictalive.transformations.menu/group1"
               tooltip="Convert Services to Code (WSDL &amp; OWLS)"/>
         <action
               class="net.sf.ictalive.SL2Code.ui.popupMenus.AcceleoGenerateSL2WSDLAction"
               enablesFor="1"
               icon="icons/default.gif"
               id="net.sf.ictalive.SL2Code.ui.popupMenus.acceleoGenerateSL2WSDLAction"
               label="Generate SL to WSDL"
               menubarPath="net.sf.ictalive.transformations.menu/group1"
               tooltip="Convert Services to WSDL">
         </action>
         <action
               class="net.sf.ictalive.SL2Code.ui.popupMenus.AcceleoGenerateSL2OWLSAction"
               enablesFor="1"
               icon="icons/default.gif"
               id="net.sf.ictalive.SL2Code.ui.popupMenus.acceleoGenerateSL2OWLSAction"
               label="Generate SL to OWLS"
               menubarPath="net.sf.ictalive.transformations.menu/group1"
               tooltip="Convert Services to OWLS">
         </action>
      </objectContribution>
   </extension>
</plugin>
