<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.sf.ictalive.eventbus.dashboard.start"
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.eventbus.dashboard.StartEventBus">
      </client>
   </extension>
   <extension
         id="net.sf.ictalive.eventbus.dashboard.restart"
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.eventbus.dashboard.RestartEventBus">
      </client>
   </extension>
   <extension
         id="net.sf.ictalive.eventbus.dashboard.stop"
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.eventbus.dashboard.StopEventBus">
      </client>
   </extension>

</plugin>
