<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution id="net.sf.ictalive.opera2actions.ui.popupMenus.contribution.IFile"
			objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.opera">
            
		<menu
        icon="icons/transformation.gif"
        id="net.sf.ictalive.transformations.menu"
        label="&amp;Transformations"
        path="additions">              
			<separator name="group1"></separator>
		</menu>

		<action
        class="net.sf.ictalive.opera2actions.ui.Opera2ActionsAction"
        enablesFor="1"
        icon="icons/qvto.gif"
        id="convertToActions"
        label="Convert to Actions"
        menubarPath="net.sf.ictalive.transformations.menu/group1"
        tooltip="Convert OperA to Actions">
		</action>
	</objectContribution>
	
</extension>
<extension
      point="net.sf.ictalive.aliveclipse.dashboard.actions">
   <client
         class="net.sf.ictalive.opera2actions.ui.Opera2ActionsDashboardWizard">
   </client>
</extension>

</plugin>
