<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ALIVE"
            id="net.sf.ictalive.service.matchmakertab">
      </category>
      <view
            name="Matchmaker Test View"
            icon="icons/sample.gif"
            category="net.sf.ictalive.service.matchmakertab"
            class="net.sf.ictalive.service.matchmakertab.views.MatchMakerTestView"
            id="net.sf.ictalive.service.matchmakertab.views.MatchMakerTestView">
      </view>
      <view
            category="net.sf.ictalive.service.matchmakertab"
            class="net.sf.ictalive.service.matchmakertab.views.ValidateActionsResultView"
            icon="icons/sample.gif"
            id="net.sf.ictalive.service.matchmakertab.views.ValidateActionsResultView"
            name="Validate Actions Result View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="net.sf.ictalive.service.matchmakertab.views.MatchMakerTestView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="net.sf.ictalive.service.matchmakertab.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="net.sf.ictalive.service.dashboard.actions.verify"
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.service.matchmakertab.dashboard.ValidatePlanTasksAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.service.matchmakertab.dashboard.OpenMatchmakerPreferencesAction">
      </client>
   </extension>

</plugin>
