<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ALIVE Coordination"
            id="net.sf.ictalive.coordination.category">
      </category>
      <command
            name="Initialise Multi-Agent System"
            categoryId="net.sf.ictalive.coordination.category"
            id="net.sf.ictalive.coordination.agents.diagram.oaw.commands.initialise">
      </command>
      <command
            categoryId="net.sf.ictalive.coordination.category"
            id="net.sf.ictalive.coordination.agents.diagram.oaw.commands.generateAgents"
            name="Generate Agents">
      </command>
      <command
            categoryId="net.sf.ictalive.coordination.category"
            id="net.sf.ictalive.coordination.agents.diagram.oaw.commands.injectAgents"
            name="Inject agents into AgentScape">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.initialise"
            class="net.sf.ictalive.coordination.agents.diagram.oaw.handlers.OperaLoaderHandler">
      </handler>
      <handler
            class="net.sf.ictalive.coordination.agents.diagram.oaw.handlers.GeneratorHandler"
            commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.generateAgents">
      </handler>
      <handler
            class="net.sf.ictalive.coordination.agents.diagram.oaw.handlers.InjectorHandler"
            commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.injectAgents">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.initialise"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+5"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.generateAgents"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.injectAgents"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               label="Coordination"
               mnemonic="C"
               id="net.sf.ictalive.coordination.menu">
            <command
                  commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.initialise"
                  icon="icons/init_mas..gif"
                  id="net.sf.ictalive.coordination.agents.diagram.oaw.menus.initialise"
                  mnemonic="I">
            </command>
            <command
                  commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.generateAgents"
                  icon="icons/gen_mas.gif"
                  id="net.sf.ictalive.coordination.agents.diagram.oaw.menus.generate"
                  mnemonic="G">
            </command>
            <command
                  commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.injectAgents"
                  icon="icons/init_mas..gif"
                  id="net.sf.ictalive.coordination.agents.diagram.oaw.menus.injectAgents"
                  mnemonic="A">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.sf.ictalive.coordination.toolbar">
            <command
                  commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.initialise"
                  icon="icons/init_mas..gif"
                  tooltip="Initialise Multi-Agent System"
                  id="net.sf.ictalive.coordination.agents.diagram.oaw.toolbars.initialise">
            </command>
            <command
                  commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.generateAgents"
                  icon="icons/gen_mas.gif"
                  id="net.sf.ictalive.coordination.agents.diagram.oaw.toolbars.generateAgents"
                  tooltip="Generate agents">
            </command>
            <command
                  commandId="net.sf.ictalive.coordination.agents.diagram.oaw.commands.injectAgents"
                  icon="icons/inject_mas.gif"
                  id="net.sf.ictalive.coordination.agents.diagram.oaw.toolbars.injectAgents"
                  tooltip="Inject agents into AgentScape">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.agents.diagram.oaw.dashboard.GenerateMasDashboardAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.agents.diagram.oaw.dashboard.GenerateAgentsDashboardAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.agents.diagram.oaw.dashboard.InjectMASDashboardAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.agents.diagram.oaw.dashboard.RestartAgentPlatformDashboardAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.agents.diagram.oaw.dashboard.StopAgentPlatformDashboardAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.agents.diagram.oaw.dashboard.StartAgentPlatformAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.agents.diagram.oaw.dashboard.ConfigureAgentPlatformAction">
      </client>
   </extension>
   <extension
         point="net.sf.ictalive.runtime.dashboard.actions">
      <client
            class="net.sf.ictalive.coordination.agents.diagram.oaw.dashboard.InspectAgentPlatformAction">
      </client>
   </extension>
 
</plugin>
