<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/coordination/actions"
            class="net.sf.ictalive.coordination.actions.ActionsPackage"
            genModel="model/coordination.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/coordination/agents"
            class="net.sf.ictalive.coordination.agents.AgentsPackage"
            genModel="model/coordination.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/coordination/tasks"
            class="net.sf.ictalive.coordination.tasks.TasksPackage"
            genModel="model/coordination.genmodel"/>
   </extension>

</plugin>
