<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="net.sf.ictalive.coordination.wfvv"
            class="net.sf.ictalive.coordination.wfvv.WfvvPackage"
            genModel="model/wfvv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="wfvv"
            class="net.sf.ictalive.coordination.wfvv.util.WfvvResourceFactoryImpl"/>
   </extension>

</plugin>
