<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/services"
            class="net.sf.ictalive.service.ServicePackage"
            genModel="model/services.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="service"
            class="net.sf.ictalive.service.util.ServiceResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/services/syntax"
            class="net.sf.ictalive.service.syntax.SyntaxPackage"
            genModel="model/services.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="syntax"
            class="net.sf.ictalive.service.syntax.util.SyntaxResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/services/semantics"
            class="net.sf.ictalive.service.semantics.SemanticsPackage"
            genModel="model/services.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="semantics"
            class="net.sf.ictalive.service.semantics.util.SemanticsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/services/template"
            class="net.sf.ictalive.service.template.TemplatePackage"
            genModel="model/services.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="template"
            class="net.sf.ictalive.service.template.util.TemplateResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/services/architecture"
            class="net.sf.ictalive.service.architecture.ArchitecturePackage"
            genModel="model/services.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="architecture"
            class="net.sf.ictalive.service.architecture.util.ArchitectureResourceFactoryImpl"/>
   </extension>

</plugin>
