<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ict-alive.sourceforge.net/coordination/bpeldiag"
            class="net.sf.ictalive.coordination.wfannotation.bpel.diagram.bpeldiag.BpeldiagPackage"
            genModel="model/bpeldiag.genmodel"/>
   </extension>

</plugin>
