<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.sf.ictalive.runtime.action.presentation.ActionModelWizardID"
            name="%_UI_ActionModelWizard_label"
            class="net.sf.ictalive.runtime.action.presentation.ActionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ActionModelFile.gif">
         <description>%_UI_ActionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.ictalive.runtime.action.presentation.ActionEditorID"
            name="%_UI_ActionEditor_label"
            icon="icons/full/obj16/ActionModelFile.gif"
            extensions="action"
            class="net.sf.ictalive.runtime.action.presentation.ActionEditor"
            contributorClass="net.sf.ictalive.runtime.action.presentation.ActionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.sf.ictalive.runtime.enactment.presentation.EnactmentModelWizardID"
            name="%_UI_EnactmentModelWizard_label"
            class="net.sf.ictalive.runtime.enactment.presentation.EnactmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EnactmentModelFile.gif">
         <description>%_UI_EnactmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.ictalive.runtime.enactment.presentation.EnactmentEditorID"
            name="%_UI_EnactmentEditor_label"
            icon="icons/full/obj16/EnactmentModelFile.gif"
            extensions="enactment"
            class="net.sf.ictalive.runtime.enactment.presentation.EnactmentEditor"
            contributorClass="net.sf.ictalive.runtime.enactment.presentation.EnactmentActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.sf.ictalive.runtime.event.presentation.EventModelWizardID"
            name="%_UI_EventModelWizard_label"
            class="net.sf.ictalive.runtime.event.presentation.EventModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EventModelFile.gif">
         <description>%_UI_EventModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.ictalive.runtime.event.presentation.EventEditorID"
            name="%_UI_EventEditor_label"
            icon="icons/full/obj16/EventModelFile.gif"
            extensions="event"
            class="net.sf.ictalive.runtime.event.presentation.EventEditor"
            contributorClass="net.sf.ictalive.runtime.event.presentation.EventActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.sf.ictalive.runtime.fact.presentation.FactModelWizardID"
            name="%_UI_FactModelWizard_label"
            class="net.sf.ictalive.runtime.fact.presentation.FactModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FactModelFile.gif">
         <description>%_UI_FactModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.ictalive.runtime.fact.presentation.FactEditorID"
            name="%_UI_FactEditor_label"
            icon="icons/full/obj16/FactModelFile.gif"
            extensions="fact"
            class="net.sf.ictalive.runtime.fact.presentation.FactEditor"
            contributorClass="net.sf.ictalive.runtime.fact.presentation.FactActionBarContributor">
      </editor>
   </extension>

</plugin>
